<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Registation Form</title>
</head>
<body>

    <h3>Student Registation Form</h3>
    <form th:action="@{/processForm}" th:object="${student}"  th:method="POST"><!-- ${student} is model attribute name that we added in controller-->

        First Name: <input type="text" th:field="*{firstName}"/>
        <br><br>
        Last Name: <input type="text" th:field="*{lastName}"/>
        <br><br>
        Country:
        <select th:field="*{Country}">
            <option th:value = "Spain">Spain</option>
            <option th:value = "Brazil">Brazil</option>
            <option th:value = "India">India</option>
            <option th:value = "USA">USA</option>
        </select>

        <br><br>
        Select Favorite programming language:
        <input type="radio" th:field="*{favLang}" th:value="Python">Python</input>
        <input type="radio" th:field="*{favLang}" th:value="Java">Java</input>
        <input type="radio" th:field="*{favLang}" th:value="CPP">CPP</input>
        <br><br>

        Select Favorite Technologies:
        <input type="checkbox" th:field="*{tech}" th:value="'Web Dev'">WebDev</input><!--field is same name as variable name we declae in student class of model-->
        <input type="checkbox" th:field="*{tech}" th:value="'Cyber Security'">Cyber Security</input>
        <input type="checkbox" th:field="*{tech}" th:value="Cloud">Cloud</input>
        <input type="checkbox" th:field="*{tech}" th:value="Testing">Testing</input>
        <input type="checkbox" th:field="*{tech}" th:value="AI">AI</input>
        <br><br>


        <input type="submit" value="submit"/>

    </form>

    
</body>
</html>